<a name="mr"></a>
<article class="art3">
  <div>
    <form action="createuser/" method="post">
      {% csrf_token %}
      <input type="text" name="name">
      <select name="model">
        <option value="r1">omo r1</option>
        <option value="r2">omo r2</option>
      </select>
      <button type="submit">제출</button>
    </form>
  </div>
  <div>
  {% for user in username %}
  <p>{{ user.pk }}  {{user.models}}
  <a href="{{user.get_delete_url}}">삭제</a></p>
  <form action="{{user.get_update_url}}" method="POST">
    {% csrf_token %}
    <select name="model">
      <option value="r1">omo r1</option>
      <option value="r2">omo r2</option>
    </select>
    <button type="submit">수정</button>
  </form>
  {% endfor %}
  </div>

  <div>
    <form action="createmycar/" method="post">
      {% csrf_token %}
      <input type="text" name="name">
      <select name="model">
        <option value="speed">speed</option>
        <option value="battery">battery</option>
        <option value="color">color</option>
      </select>
      <button type="submit">제출</button>
    </form>
  </div>
  <div>
    <div>
      {% if mycars %}
      {% for mycar in mycars %}
      <p>속도{{ mycar.speed }}  배터리{{ mycar.battery }}  색상{{ mycar.color }}
      <a href="{{mycar.get_delete_url}}">삭제</a></p>
      <form action="{{mycar.get_update_url}}" method="POST">
        {% csrf_token %}
        <select name="model">
          <option value="speed">speed</option>
          <option value="battery">battery</option>
          <option value="color">color</option>
        </select>
        <button type="submit">수정</button>
      </form>
      {% endfor %}
      {% endif %}
  </div>
</article>