<a name="pro"></a>
<article class="art2"> 
  <div class="container2">
    <h1 class="P_title">Introduce Product</h1>
    <div class="explain1"> 
      <div class="explain_a">
      <h1 class="a">R1mini를 소개합니다</h1>
      <div class="a_1">이전 세대 대비 최대 2배 강력해진 노이즈 캔슬링 성능과 H2 칩을 갖춘 <br>
        AirPods Pro는 당신이 듣고자 하는 소리에만 온전히 몰두할 수 있게 해줍니다. <br>
        무엇을 들을지, 또 무엇을 안 들을지 더욱 효과적으로 <br>
        제어할 수 있어 그 어느 때보다 음악이나 팟캐스트에 푹 빠져들 수 있죠.</div>
      </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <!-- <div class="product"></div><br><br><br> -->
      <div class="explain_b">
      <h1 class="a">R1mini는 <br><br>이런 분들에게 필요합니다.</h1><br><br><br> 
      <div class="c">딥러닝과 주행로봇을 동시에 공부하거나 연구하시는 분 <br>
        <br>
        DC모터의 구동 방법과 주행로봇의 원리부터, SLAM과 영상처리까지 하나의 로봇으로 연구하고 싶으신분<br>
        <br>
        ROS1과 ROS2 패키지를 동시에 지원하는 로봇을 서로 비교하면서 공부하고 싶으신 분<br>
        <br>
        마커인식,YOLO 구동, 마커 기반 SLAM,라이다,영상 기반 SLAM 등의 다양한 예제를 원하시는 분<br>
        <br>
        정기적인 교육을 통해 개발진과 직접 소통하고 개발 방향에 참여하거나, 학습을 하고 싶으신 분<br>
        <br>
        엄청난 분량의 ROS, 주행로봇 관련 수업 자료를 이용하고 싶으신 분</div>
      </div>
    </div>
    <div class="explain2"></div>
    <div class="explain3"></div>
  </div>
</article>