<nav>
  <div class="title_area">
    <div class="title">A1 Omorobot</div>
    <div class="sub_title">Liverpool manager Jurgen Klopp has said 
      he will not leave the club unless he is forced to, 
      and hinted at changes at Anfield during the summer.
      The German's comments come amid a run of poor form for the Reds, 
      who are ninth in the Premier League and 10 points off a top-four spot.</div>
  </div>
  <ul>     
    <li><a href="#function" class="menu">Function</a></li>
    <li><a href="#pro" class="pro">Product</a></li>
    <li><a href="#mr" class="mr">M.R</a></li>
    <li class="about">About us</li>
  </ul>
</nav>