{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test2</title>
  <link rel="stylesheet" href="{% static 'css/test2.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/battery.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/nav.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/side.css' %}"/>
  <script src="{% static 'js/test.js' %}"></script>
</head>
<body>

<header>
  <div class="headers">
    <a class="rid" href="/">
      <img src="{% static 'image/real logo.png'%}">
      <span id="logo_text">Six mEn</span>
      <span id="logo_text2">Project</span>
    </a>
    <div class="login">
      <a  class="login_login" href="#">로그인 |</a>
      <a  class="login_login" href="#">회원가입 |</a>
      <a  class="login_login" href="#">시작페이지로 |</a>
    </div>
  </div>
</header>
  <nav>
    <div class="title_area">
      <div class="title">A1 Omorobot</div>
      <div class="sub_title">Liverpool manager Jurgen Klopp has said 
        he will not leave the club unless he is forced to, 
        and hinted at changes at Anfield during the summer.
        The German's comments come amid a run of poor form for the Reds, 
        who are ninth in the Premier League and 10 points off a top-four spot.</div>
    </div>
    <ul>     
      <li><a href="#function" class="menu">Function</a></li>
      <li><a href="#pro" class="pro">Product</a></li>
      <li><a href="#mr" class="mr">M.R</a></li>
      <li class="about">About us</li>
    </ul>
  </nav>
  <div class="a_side">
    <div class="side"></div>
  </div>
  <div class="test">
  <a name="function"></a>
  <article class="art1">
    <div class="container1">
      <h1 class="B_title">Function</h1>
          <div id="omo"></div>
          <div class="bd"></div>
    </div>
  </article>
  <a name="pro"></a>
  <article class="art2">
    <div class="container2">
      <h1 class="P_title">Introduce Product</h1>
      <div class="explain1">제품설명입니다.제품설명입니다.제품설명입니다.제품설명입니다.제품설명입니다.</div>
      <div class="product">asdf</div>
      <div class="explain2">asdf</div>
      <div class="explain3"></div>
    </div>
  </article>
  <a name="mr"></a>
  <article class="art3">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </article>
</div>
</body>
</html>