@font-face {
  font-family: 'KorailRoundGothicBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
*{
  font-family: 'KorailRoundGothicBold';
    scroll-behavior: smooth;
}
body{
  margin:0px;
}



/* 설명 a side */
.a{
  color: gold;
  font-size: 7rem;
}
.a_1{
  font-size: 2rem;
}
.explain_a{
  height: 50vh;
}
/* 설명 */
.c{
  font-size: 2rem;
  font-weight: bold;
}
.explain1 > * {
  text-align: center;
  font-family: 'NanumSquareNeo-Variable';
 
}
.product{
  display: flex;
  justify-content: center;
  align-items: center;
  width:25vw;
  height: 50vh;
  margin: 20px;
  background-image: url('/image/battery\ film\ remove.63.png');
  background-size: 110% 100%;
}
/* 본문 3영역 chart */
.C_title{
  position: absolute;
  top:0px;
  font-size: 2.5em;
  margin-bottom: 100px;
}
.art3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin:0px;
  width: 99.1vw;
  height:200vh;
  background: linear-gradient(180deg, rgb(255, 234, 116) 0%,  white 100%);
}
.chart-container{
  position: relative;
  top: 250px;
}

#omo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
}

