@font-face {
  font-family: 'KorailRoundGothicBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
*{
  font-family: 'KorailRoundGothicBold';
    scroll-behavior: smooth;
}
body{
  margin:0px;
}
/* 본문 2 function */
.B_title{
  position: absolute;
  top: -350px;
  font-size: 3em;
  margin: 0px;
}
.B_title:after {
  display:block;
  content: '';
  border-bottom: solid 5px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.B_title:hover:after { transform: scaleX(1); }

.art1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin:0px; margin-right: -20px;
  width: 99vw;
  height: 100vh;
  background: linear-gradient(180deg, rgb(114, 114, 114) 0%, rgb(255, 234, 116) 100%);
}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px;
}

/* 본문 1 product */
.P_title{
  position: absolute;
  top: 0px;
  font-size: 2.5em;
  color:rgb(253, 226, 74);
  margin-bottom: 100px;
}
.P_title:after {
  display:block;
  content: '';
  border-bottom: solid 5px rgb(253, 226, 74);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.P_title:hover:after { transform: scaleX(1); }

.art2{
  display: flex;
  justify-content: center;
  position: relative;
  margin:0px;
  width: 99.1vw;
  height:300vh;
  background: linear-gradient(180deg, black 0%, rgb(114, 114, 114) 100%);
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(255, 244, 184);
  flex-direction: column;
}
.explain1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  margin: 40px;
}
/* 설명 a side */
.a{
  color: gold;
  font-size: 7rem;
}
.a_1{
  font-size: 2rem;
}
.explain_a{
  height: 50vh;
}
/* 설명 */
.c{
  font-size: 2rem;
  font-weight: bold;
}
.explain1 > * {
  text-align: center;
  font-family: 'NanumSquareNeo-Variable';
 
}
.product{
  display: flex;
  justify-content: center;
  align-items: center;
  width:25vw;
  height: 50vh;
  margin: 20px;
  background-image: url('/image/battery\ film\ remove.63.png');
  background-size: 110% 100%;
}
/* 본문 3영역 chart */
.C_title{
  position: absolute;
  top:0px;
  font-size: 2.5em;
  margin-bottom: 100px;
}
.art3{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin:0px;
  width: 99.1vw;
  height:200vh;
  background: linear-gradient(180deg, rgb(255, 234, 116) 0%,  white 100%);
}
.chart-container{
  position: relative;
  top: -300px;
}

#omo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
}

