/* background: linear-gradient(180deg, black 33.333%, rgb(253, 226, 74,0) 33.333%), 
  linear-gradient(180deg, rgb(253, 226, 74) 60%, rgba(206,17,38,0) 60%),
  linear-gradient(180deg, gold 95%, gray 95%);; */
.side{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 5;
  min-width: 15%;
  height: 50vh;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.671);
  box-shadow: rgba(255, 255, 255, 0.308) 7px 7px 0;
  border-radius: 20px;
}

.nav-action{
  background-color: #000;
  color: gold;
  font-size: 20px;
  height: 40px;
}

.h_button{
  color: black
}
/* 미디어 쿼리 */